@font-face {
    font-family: f1;
    src: url(../font/SamuraiBlast-8MnyD.otf);
}
@font-face {
    font-family: f2;
    src: url(../font/Calpina-Regular.otf);
}
button{
    width: 140px;
    height : 70px;
    float: right;
    font-size: 50px;
    font-family: f2;
    border-radius: 200px;
    background-color: #C0392B;
    border: 1px solid red; 
    box-shadow: 5px 5px 5px white;
    cursor : pointer;
}